fastapi
uvicorn
cassandra-driver
pytest
pydantic
# pip install python-jose[cryptography] fastapi-users bcrypt
fastapi
passlib[bcrypt]
jose
python-jose[cryptography]
python-multipart

fastapi
uvicorn
pydantic
python-dotenv
cassandra-driver
passlib
bcrypt
requests
beautifulsoup4
pandas
pytest
pytest-asyncio
jose
httpx
starlette
watchfiles
sqlalchemy
